<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages if category == "register" %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
		<input type="checkbox" id="chk" aria-hidden="true">
            <div class="register">
                <form action="/user/register/process" method="post">
                    <label for="chk" aria-hidden="true">Register</label>
                    <input type="text" name="first_name" id="first_name" placeholder="First Name">
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name">
                    <input type="text" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                    <button type="submit">Register</button>
                </form>
            </div>
        <div class="login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages if category == "login" %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/user/login/process" method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>