<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <a href="/dashboard"><button>Dashboard</button></a>
        <div class="view">
            <h1 class="page_title">New Recipe</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="checkbox" id="chk" aria-hidden="true">
                <div class="register">
                    <form action="/recipes/new/process" method="post">
                        <input type="text" name="name" id="name" placeholder="Recipe Name">
                        <div class="text_area">
                            <textarea name="description" id="description" placeholder="Recipe Discription"></textarea>
                            <textarea name="instructions" id="instructions" placeholder="Recipe Instructions"></textarea>
                        </div>
                        <label for="date">Date Made On:</label>
                        <input type="date" name="date_made" id="date_made" placeholder="Date Made On">
                        <div class="under_30">
                            <p class="page_title">Under 30 Minutes?:</p>
                            <label for="under_30_yes">Yes</label>
                            <input type="radio" name="under_30" id="under_30_yes" value="1">
                            <label for="under_30_no">No</label>
                            <input type="radio" name="under_30" id="under_30_no" value="0">
                        </div>
                        <button type="submit">Create</button>
                    </form>
                </div>
        </div>
        <a href="/user/logout"><button>Logout</button></a>
    </div>
</body>
</html>