<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Ninjas</title>
</head>
<body>
    <h1>Ninjas</h1>

    {%for ninja in ninjas%}
        <p>Name: {{ninja.first_name}} {{ninja.last_name}}</p>
        <p>Age: {{ninja.age}}</p>
        <p>Dojo: {{ninja.dojo_id}}</p>
    {% endfor %}

    <a href="/">Dojos</a>
    <a href="/new_ninja">Add Ninja</a>
</body>
</html>