<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Dojos</title>
</head>
<body>
    <h1>Add Dojo</h1>

    <form action="/create_dojo" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <input type="submit" value="Create Dojo">
    </form>
    <h1>All Dojos</h1>
    {%for dojo in dojos%}
        <p>{{dojo.name}}</p>
    {% endfor %}

    <a href="/ninjas">Ninjas</a>
    <a href="/new_ninja">Add Ninja</a>
</body>
</html>