<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
</head>
<body>
    <h1>Add Ninja</h1>

    <form action="/create_ninja" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" name="first_name">
        <label for="lname">Last Name:</label>
        <input type="text" name="last_name">
        <label for="age" >Age:</label>
        <input type="text" name="age">
        <label for="dojo_id" >Dojo:</label>
        <input type="int" name="dojo_id">
        <input type="submit" value="Create Ninja">
    </form>

    <a href="/ninjas">Ninjas</a>
    <a href="/">Dojos</a>
</body>
</html>