<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <div class="container"></div>
        <p> Create New User</p>
        <form action="/create_user" method="POST">
            <label for="fname">First Name:</label>
            <input type="text" name="first_name">
            <label for="lname">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email" >Email:</label>
            <input type="text" name="email">
            <input type = 'input' type="submit" value="Create User">
        </form>
        <a href="/">Home</a>
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
    </div>

</body>
</html>