<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <div class="container"></div>
        <h1>All User</h1>

        <table>
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a href="/show_user/{{ user.id }}">Show User</a>
                        <a href="/edit_user/{{ user.id }}">Edit User</a>
                        <a href="/delete_user/{{ user.id }}">Delete User</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a type = 'button' href="/new_user">Create User</a>
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
    </div>
</body>
</html>