<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.first_name }} {{ user.last_name }}</title>
</head>
<body>
    <div class="container"></div>
        <h1>{{ user.first_name }} {{user.last_name }}</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a href="/edit_user/{{ user.id }}">Edit User</a>
                        <a href="/delete_user/{{ user.id }}">Delete User</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
    </div>
</body>
</html>